<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Logan McAnsh</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>t.co remover</string>
	<key>CFBundleIdentifier</key>
	<string>com.loganmcansh.tco-remover</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>no-tco.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Replaces slow t.co links with their original URLs.</string>
	<key>DeveloperIdentifier</key>
	<string>L5J4X6VAC6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>twitter.com</string>
				<string>www.twitter.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
